<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.StudentMapper">

    <!--查询所有用户信息-->
    <select id="findById" resultType="com.example.demo.entity.Student">
        SELECT
          id,
          name,
          sex
        FROM
          student
        WHERE
          id=#{id}
    </select>
</mapper>